h1 {
    font-size: 500%;
    font-family: Georgia;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 1%;
    margin: 1%;
}

#outer {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#left {
    border-right: 1px solid black;
}

#right {
    padding-left: 1%;
}

@media(max-width:600px) {
    #outer {
        display: block;
    }

    #left {
        border-right: none;
    }
}